<div class="container">
  <div class="title-component">
    {{ isEditMode ? "Edit your property" : "Add a new property" }}
  </div>
  <form [formGroup]="myForm" (ngSubmit)="createNewProperty()">
    <div class="location" formGroupName="location">
      <span class="p-float-label">
        <p-autoComplete
          formControlName="country"
          [suggestions]="countries"
          (completeMethod)="getCountries($event)"
          [dropdown]="false"
          dropdownMode="current"
          inputId="country"
          [required]="true"
        ></p-autoComplete>
        <label for="country">Country</label>
      </span>
      <span class="p-float-label">
        <p-autoComplete
          formControlName="city"
          [suggestions]="cities"
          (completeMethod)="getCities($event)"
          [dropdown]="false"
          dropdownMode="current"
          inputId="city"
          [required]="true"
        ></p-autoComplete>
        <label for="city">City</label>
      </span>

      <span class="p-inputgroup little">
        <span class="p-inputgroup-addon">n°</span>

        <p-inputNumber
          formControlName="number"
          inputId="number"
          mode="decimal"
          [min]="1"
          [required]="true"
        ></p-inputNumber>
      </span>

      <span class="p-float-label">
        <input id="street" type="text" formControlName="street" pInputText />
        <label for="street">Street name</label>
      </span>

      <span class="p-float-label">
        <p-dropdown
          [options]="['Avenue', 'Street']"
          formControlName="streetType"
          inputId="streetType"
          [required]="true"
          placeholder="Street type"
        ></p-dropdown>
      </span>
    </div>

    <div class="form-content">
      <span class="p-float-label">
        <p-dropdown
          [options]="housingTypes"
          formControlName="housingType"
          inputId="housingType"
          optionLabel="name"
          optionValue="value"
          placeholder="Housing type"
          [required]="true"
        ></p-dropdown>
      </span>

      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="info-icon fa-solid fa-bed"></i>
        </span>
        <p-inputNumber
          formControlName="bedAmount"
          [suffix]="bedAmount?.value > 1 ? ' beds' : ' bed'"
          [min]="1"
          mode="decimal"
          placeholder="Amount of bed(s)"
          [required]="true"
        ></p-inputNumber>
      </div>

      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="info-icon fa-regular fa-clone"></i>
        </span>
        <p-inputNumber
          formControlName="squareFootage"
          [min]="9"
          mode="decimal"
          suffix=" m²"
          placeholder="Square footage"
          [required]="true"
        ></p-inputNumber>
      </div>

      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-euro"></i>
        </span>
        <p-inputNumber
          formControlName="pricePerDay"
          [min]="9"
          suffix=" / day"
          mode="currency"
          currency="EUR"
          locale="de-DE"
          placeholder="ex: 20,00 € / day"
          [required]="true"
        ></p-inputNumber>
      </div>
    </div>
    <span class="p-float-label">
      <textarea
        [rows]="2"
        [cols]="30"
        pInputTextarea
        inputId="description"
        formControlName="description"
        [autoResize]="true"
      ></textarea>
      <label for="description">Describe your property</label>
    </span>

    <!-- <label for="currency-germany">Germany</label>
      <p-inputNumber
        [(ngModel)]="value10"
        mode="currency"
        inputId="currency-germany"
        currency="EUR"
        locale="de-DE"
      >
      </p-inputNumber> -->
    <!-- <mat-form-field appearance="standard">
        <mat-label>Price per day (euros)</mat-label>
        <input required matInput type="number" formControlName="pricePerDay" />
        <mat-icon
          matSuffix
          *ngIf="!pricePerDay?.invalid && pricePerDay?.touched"
          >check</mat-icon
        >
      </mat-form-field> -->
    <br />
    <!-- <div class="button">
      <button [disabled]="myForm.invalid" mat-raised-button type="submit">
        Publish
      </button>
    </div> -->
    <p-button
      [label]="isEditMode ? 'Submit your changes' : 'Submit your property'"
      [disabled]="myForm.invalid"
      type="submit"
    ></p-button>
  </form>
</div>
