@import "../../../variables.scss";
form {
  // margin-top: 2em;
  & > * {
    margin-top: 2em;
    font-size: 1em;
    &::placeholder {
      font-size: 1em;
    }
  }
}
.location {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  & > * {
    margin-right: 1.4em;
  }
  & > .little {
    width: 8em;
  }
}
.p-inputgroup {
  width: max-content;
}
.form-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  & > * {
    margin-right: 1.4em;
  }
}
