<div class="container">
  <div class="title-component">
    {{ isEditMode ? "Edit your property" : "Add your property" }}
  </div>
  <form [formGroup]="myForm" (ngSubmit)="submitForm()">
    <div class="location" formGroupName="location">
      <span class="p-float-label">
        <p-autoComplete
          formControlName="country"
          [suggestions]="countries"
          (completeMethod)="getCountries($event)"
          [dropdown]="false"
          dropdownMode="current"
          inputId="country"
          [required]="true"
        ></p-autoComplete>
        <label for="country">Country</label>
      </span>
      <span class="p-float-label">
        <p-autoComplete
          formControlName="city"
          [suggestions]="cities"
          (completeMethod)="getCities($event)"
          [dropdown]="false"
          dropdownMode="current"
          inputId="city"
          [required]="true"
        ></p-autoComplete>
        <label for="city">City</label>
      </span>

      <span class="p-inputgroup little">
        <span class="p-inputgroup-addon">n°</span>

        <p-inputNumber
          formControlName="number"
          inputId="number"
          mode="decimal"
          [min]="1"
          [required]="true"
        ></p-inputNumber>
      </span>

      <span class="p-float-label">
        <input id="street" type="text" formControlName="street" pInputText />
        <label for="street">Street name</label>
      </span>

      <span class="p-float-label">
        <p-dropdown
          [options]="['Avenue', 'Street']"
          formControlName="streetType"
          inputId="streetType"
          [required]="true"
          placeholder="Street type"
        ></p-dropdown>
      </span>
    </div>

    <div class="form-content">
      <span class="p-float-label">
        <p-dropdown
          [options]="housingTypes"
          formControlName="housingType"
          inputId="housingType"
          optionLabel="name"
          optionValue="value"
          placeholder="Housing type"
          [required]="true"
        ></p-dropdown>
      </span>

      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="info-icon fa-solid fa-bed"></i>
        </span>
        <p-inputNumber
          formControlName="bedAmount"
          [suffix]="bedAmount?.value > 1 ? ' beds' : ' bed'"
          [min]="1"
          mode="decimal"
          placeholder="Amount of bed(s)"
          [required]="true"
        ></p-inputNumber>
      </div>

      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="info-icon fa-regular fa-clone"></i>
        </span>
        <p-inputNumber
          formControlName="squareFootage"
          [min]="9"
          mode="decimal"
          suffix=" m²"
          placeholder="Square footage"
          [required]="true"
        ></p-inputNumber>
      </div>

      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-euro"></i>
        </span>
        <p-inputNumber
          formControlName="pricePerDay"
          [min]="9"
          suffix=" / day"
          mode="currency"
          currency="EUR"
          locale="de-DE"
          placeholder="ex: 20,00 € / day"
          [required]="true"
        ></p-inputNumber>
      </div>
    </div>
    <div class="form-content">
      <p-chips
        class="chip"
        formControlName="services"
        placeholder="Contract services"
      ></p-chips>
      <p-chips
        class="chip"
        formControlName="constraints"
        placeholder="Property constraints"
      ></p-chips>
    </div>
    <span class="p-float-label">
      <textarea
        [rows]="2"
        [cols]="30"
        pInputTextarea
        inputId="description"
        formControlName="description"
        [autoResize]="true"
      ></textarea>
      <label for="description">Describe your property</label>
    </span>

    <div class="btn-container">
      <p-button
        [label]="isEditMode ? 'Submit your changes' : 'Add your property'"
        [disabled]="myForm.invalid"
        type="submit"
      ></p-button>
      <p-button icon="pi pi-check" class="p-button-warning"></p-button>
    </div>
  </form>
</div>
