@import "../../../variables.scss";

.contract {
  width: 100%;
  height: 100%;
}
.property-infos {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 2.5em;

  .name-container {
    display: flex;
    align-items: center;
    .property-name {
      margin-right: 1em;
      font-size: 1.4em;
      font-weight: 600;
      color: $color-font-dark;
    }
    .status {
      background-color: $color-green-light;
      color: $color-green;
      display: flex;
      font-size: 0.9em;
      user-select: none;
      align-items: center;
      padding: 0.3em 0.8em;
      border-radius: 0.8em;
      font-weight: 600;
      &::before {
        $dot-size: 0.4em;
        content: "\A";
        width: $dot-size;
        height: $dot-size;
        border-radius: 50%;
        background-color: $color-green;
        display: inline-block;
        margin-right: 0.3em;
      }
    }
    margin-bottom: 0.6em;
  }
  .property-location {
    display: flex;
    color: $color-font-mid;
    i {
      margin-right: 0.6em;
    }
    .location {
      font-size: 0.8em;
      font-weight: 600;
    }
  }
}

.dates-container {
  width: 100%;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  i {
    font-size: 1.9em;
    color: $color-font-mid;
  }

  .date-container {
    box-sizing: border-box;
    min-width: 8.8em;
    padding: 0.4em 1.4em;
    border-radius: 6em;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.2s;

    .date-name {
      color: $color-font-mid-plus;
    }

    .date {
      font-weight: 600;
      color: $color-font-dark;
    }

    position: relative;
  }
}
mat-card {
  margin-top: 1em;
  position: static;
  width: 90%;
}

.submit-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5em;
  border-top: solid 1.5px $color-border;
  display: flex;
  background-color: $color-background-over;
  z-index: 20;
  justify-content: space-between;
  align-items: center;
  .btn-contract {
    margin-right: 1em;
  }
  .info-content-container {
    margin-left: 1em;
    .info-title {
      color: $color-font-mid;
      margin-bottom: 0.4em;
    }
    .info-value {
      font-size: 1.2em;
      color: $color-font-mid-plus;
    }
  }
}

$container-height: 4em;
.container {
  position: relative;
  // bottom: 1.5em;
  // left: 0.5em;
  // right: 0.5em;
  height: $container-height;

  .relative-container {
    width: 100%;
    height: 100%;
    cursor: pointer;
    user-select: none;
    margin-top: 1em;

    .infos-bubble {
      width: 100%;
      height: 100%;
      border-radius: 6em;
      background-color: none;
      transition: background-color 0.2s;
      display: flex;
      align-items: center;
      // &:hover {
      //   background-color: $color-border;
      // }

      .picture-container {
        width: 3em;
        height: 3em;
        border-radius: 50%;
        overflow: hidden;
        margin-left: 0.5em;
        margin-right: 0.7em;
        background-color: $color-primary-light;
        flex-shrink: 0;
        img {
          height: 100%;
        }
      }
      .infos-container {
        height: 3em;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .names {
          font-weight: 600;
          color: $color-font-dark;
        }
        .email {
          color: $color-font-mid-plus;
        }
      }
    }
  }
}

.calendar-container {
  margin-top: 1em;
}
:host ::ng-deep .p-calendar table td {
  padding: 0.04rem;
  font-size: 0.9em;
  user-select: none;
}

:host
  ::ng-deep
  .p-datepicker
  table
  td.p-datepicker-today
  > :not(span.p-highlight) {
  background-color: transparent;
}

.input-container {
  width: 100%;
  height: 5em;
  margin: 0;
  position: relative;

  i {
    position: absolute;
    font-size: 1.2em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-font-mid;
    left: 1.5em;
  }

  input {
    width: 100%;
    height: 100%;
    margin: 0;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    background-color: $color-background-over;
    border-radius: $border-radius;
    box-shadow: $box-shadow-soft;
    box-sizing: border-box;
    padding-left: 3.5em;
    font-size: 1.2em;
    line-height: 1;

    color: $color-font-mid;

    &::placeholder {
      color: $color-font-mid;
      font-size: 1em;
      opacity: 1;
    }
    &::-webkit-input-placeholder {
      color: $color-font-mid;
      font-size: 1em;
      line-height: normal;
    }
    &:focus {
      outline: none;
    }
  }
}