@import "../../variables.scss";
.popup {
  $popupWidth: 25em;
  background-color: $color-background-over;
  width: $popupWidth;
  height: 100vh;
  position: fixed;
  right: 0em;
  top: 0;
  // border-left: $border;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  box-shadow: $box-shadow;
  z-index: 10;

  .popup-relative {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 2em 2em;
    font-family: $font;

    .close-popup {
      position: absolute;
      top: 0.3em;
      right: 0.3em;
      z-index: 20;
      color: $color-primary-light;
      font-size: 1.7em;
      cursor: pointer;
      transition: color 0.1s;
      &:hover {
        color: $color-font-mid-plus;
      }
    }
  }
}
