<div class="container">
  <div class="relative-container login">
    <div class="logo-container">
      <img src="../../assets/images/logo_light.png" draggable="false" />
    </div>
    <div class="content">
      <div class="relative-content">
        <div class="title">Create your account</div>
        <div class="sub-title">
          Access all our features by creating your account!
        </div>
        <div class="btn btn-sign-in" (click)="openSignInPopup()">
          Let's do it
        </div>
        <div class="character-img-container">
          <img src="../../assets/images/character.png" draggable="false" />
        </div>
      </div>
    </div>
  </div>
</div>
