<section class="contract">
  <div class="property-infos">
    <div class="name-container">
      <div class="property-name">
        {{ property?.location?.number + " " + property?.location?.street }}
      </div>
      <div class="status">Active</div>
    </div>
    <div class="property-location">
      <i class="fa-regular fa-map"></i>
      <div class="location">
        {{
          property?.location?.number +
            " " +
            property?.location?.street +
            ", " +
            property?.location?.city +
            ", " +
            property?.location?.country
        }}
      </div>
    </div>
  </div>
  <div class="separator"></div>
  <div class="container">
    <div class="relative-container">
      <div class="infos-bubble">
        <div class="picture-container">
          <img src="../../assets/images/face.png" draggable="false" />
        </div>
        <div class="infos-container">
          <div class="names">{{ owner?.firstName }}</div>
          <div class="email">{{ owner?.email }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="dates-container">
    <div class="date-container">
      <div class="date-name">Check-in</div>
      <div class="date">
        {{
          this.rangeDates[0]
            ? getDateToString(this.rangeDates[0])
            : "Pick a date"
        }}
      </div>
    </div>
    <i class="fa-solid fa-angle-right"></i>
    <div class="date-container">
      <div class="date-name">Check-out</div>
      <div class="date">
        {{
          this.rangeDates[1]
            ? getDateToString(this.rangeDates[1])
            : "Pick a date"
        }}
      </div>
    </div>
  </div>
  <div class="calendar-container">
    <p-calendar
      [(ngModel)]="rangeDates"
      (onSelect)="updateDatesFromRange()"
      selectionMode="range"
      [inline]="true"
      [minDate]="minDate"
      [firstDayOfWeek]="1"
    ></p-calendar>
  </div>

  <div class="submit-container">
    <div class="left-container">hello</div>
    <div class="btn btn-contract" (click)="createNewContract()">Rent now</div>
  </div>
</section>
