<section class="contract">
  <div class="property-infos">
    <div class="name-container">
      <div class="property-name">
        {{
          helper.selectedProperty.location?.number +
            " " +
            helper.selectedProperty.location?.street
        }}
      </div>
      <div class="status">Active</div>
    </div>
    <div class="property-location">
      <i class="fa-regular fa-map"></i>
      <div class="location">
        {{
          helper.selectedProperty.location?.number +
            " " +
            helper.selectedProperty.location?.street +
            ", " +
            helper.selectedProperty.location?.city +
            ", " +
            helper.selectedProperty.location?.country
        }}
      </div>
    </div>
  </div>
  <div class="separator"></div>
  <div class="owner-container"></div>
  <div class="dates-container">
    <div
      class="date-container"
      (click)="setSelectedDate('checkInDate')"
      [ngClass]="{ selectedDate: selectedDate === 'checkInDate' }"
    >
      <div class="date-name">Check-in</div>
      <div class="date">
        {{ getDateToString(checkInDate) }}
      </div>
    </div>
    <i class="fa-solid fa-angle-right"></i>
    <div
      class="date-container"
      (click)="setSelectedDate('checkOutDate')"
      [ngClass]="{ selectedDate: selectedDate === 'checkOutDate' }"
    >
      <div class="date-name">Check-out</div>
      <div class="date">
        {{ getDateToString(checkOutDate) }}
      </div>
    </div>
    <mat-card class="calendar-card firstDate">
      <mat-calendar
        *ngIf="selectedDate === 'checkInDate'"
        [(selected)]="checkInDate"
        (selectedChange)="updateCheckOutDate()"
        [minDate]="minDate"
      ></mat-calendar>
      <mat-calendar
        *ngIf="selectedDate === 'checkOutDate'"
        [(selected)]="checkOutDate"
        (selectedChange)="setGapBetweenDates()"
        [minDate]="addDaysToDate(checkInDate, 1)"
      ></mat-calendar>
    </mat-card>
  </div>
  <!-- <div class="price-container">
    {{ getEstimatedPrice() }}
  </div> -->
</section>
