<section class="contract">
  <div class="property-infos">
    <div class="name-container">
      <div class="property-name">
        {{
          helper.selectedProperty.location?.number +
            " " +
            helper.selectedProperty.location?.street
        }}
      </div>
      <div class="status">Active</div>
    </div>
    <div class="property-location">
      <i class="fa-regular fa-map"></i>
      <div class="location">
        {{
          helper.selectedProperty.location?.number +
            " " +
            helper.selectedProperty.location?.street +
            ", " +
            helper.selectedProperty.location?.city +
            ", " +
            helper.selectedProperty.location?.country
        }}
      </div>
    </div>
  </div>
  <div class="separator"></div>
  <div class="owner-container"></div>
  <div class="dates-container">
    <div class="date-container">
      <div class="date-name">Check-in</div>
      <div class="date">
        {{
          firstDate.getDate() +
            " " +
            firstDate.toLocaleString("en-us", { month: "long" }) +
            " " +
            firstDate.getFullYear()
        }}
      </div>
    </div>
    <i class="fa-solid fa-angle-right"></i>
    <div class="date-container">
      <div class="date-name">Check-in</div>
      <div class="date">
        {{
          firstDate.getDate() +
            " " +
            firstDate.toLocaleString("en-us", { month: "long" }) +
            " " +
            firstDate.getFullYear()
        }}
      </div>
    </div>
    <mat-card class="calendar-card firstDate">
      <mat-calendar
        [(selected)]="firstDate"
        (selectedChange)="consoleDate()"
      ></mat-calendar>
    </mat-card>
  </div>
</section>
