@import "../../../variables.scss";

.container {
  width: 100%;
  position: relative;
  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn {
      display: flex;
      justify-content: space-between;
      align-content: center;
      i {
        display: flex;
        align-content: center;
        justify-content: center;
      }
    }
  }
  .my-property-container {
    table {
      margin-top: 1em;
      border-collapse: collapse;
      width: 100%;
      text-align: center;
      color: $color-font-mid-plus;
      thead tr {
        height: 2em;
        background-color: $color-background;
      }
      tr {
        height: 4em;
        border-bottom: solid 1px $color-border;
        &:hover td {
          // background-color: $color-background;
          background-color: $color-background;
        }
        // &:nth-child(2n) {
        //   background-color: $color-background;

        // }
        td,
        th {
          &:first-child {
            padding-left: 1em;
            text-align: left;
          }
        }
        td {
          i {
            cursor: pointer;
          }
        }
      }
    }
  }
}
