.chat-container {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 1em 3em;
  position: relative;
  padding-bottom: 5em;
  scroll-behavior: auto;
}
.message-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.2em;
}

.message {
  max-width: 40%;
  border-radius: 1em;
  padding: 0.3em 0.7em;
  line-height: 1.5em;
}

.left {
  background-color: #e3e6ea;
  align-self: flex-start;
}

.right {
  background-color: #0084ff;
  color: white;

  align-self: flex-end;
}

.actions-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100vw - 16.8em);
  box-sizing: border-box;
  padding: 0em 2em;
  background-color: white;
  .actions-container-relative {
    padding-top: 0.4em;
    padding-bottom: 0.6em;
    width: 100%;
    display: flex;
    align-items: flex-end;
    // justify-content: space-around;
  }
}

.grow-wrap {
  display: grid;
  width: 100%;
}
.grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}
.grow-wrap > textarea {
  resize: none;
  // overflow: hidden;
  &:focus {
    outline: none;
  }
}
.grow-wrap > textarea,
.grow-wrap::after {
  border: none;
  padding: 0.5rem 1em;
  font: inherit;
  max-height: 7em;
  background-color: #f3f3f4;
  border-radius: 1em;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

.fb-pouce-container {
  flex-shrink: 0;
  margin-left: 1em;
  margin-bottom: 0em;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    background-color: #f3f3f4;
  }
}
