@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css);
// @font-face {
//   font-family: font-normal;
//   src: url("assets/fonts/chirp/chirp-normal.ttf");
// }

// $font-normal: font-normal;

//? Colors https://dribbble.com/shots/7390999/attachments/272510?mode=media
$color-primary: #2d1cc4;
$color-primary-light: #d2d1ef;
$color-primary-deep-light: #efedff;
$color-background: #f5f8fc;
$color-background-over: #ffffff;

$color-border: #ebecf2;
$color-font-dark: #191e36;
$color-font-mid: #626675;
$color-font-light: #dadde2;

$color-green: #31c534;
$color-green-light: #ebf9ea;

$color-yellow: #ffbc02;
$color-yellow-dark: #a78c49;
$color-yellow-light: #fbf0d8;
