/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";

* {
  // font-family: sans-serif;
}

body {
  margin: 0;
  background-color: $color-background;
  overflow-y: scroll;
}
