<h1 class="title">Rent out your property</h1>

<form [formGroup]="myForm" action="" (ngSubmit)="postProperty()">
  <div>
    <mat-form-field appearance="standard">
      <mat-label>Housing Type</mat-label>
      <mat-select formControlName="housingType" required>
        <mat-option value="house">House</mat-option>

        <mat-option value="flat">Flat</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="location" formGroupName="location">
    <mat-form-field appearance="standard">
      <mat-label>Country</mat-label>
      <input required matInput formControlName="country" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Zip Code</mat-label>
      <input required matInput formControlName="zipCode" type="number" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Street Number</mat-label>
      <input required matInput formControlName="number" type="number" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Street</mat-label>
      <input required matInput formControlName="street" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="standard">
      <mat-label>Description</mat-label>
      <input required matInput formControlName="description" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <br />
    <mat-form-field appearance="standard">
      <mat-label>Bed Amount</mat-label>
      <input required matInput type="number" formControlName="bedAmount" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <br />
    <mat-form-field appearance="standard">
      <mat-label>Square Footage</mat-label>
      <input required matInput type="number" formControlName="squareFootage" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <br />
    <mat-form-field appearance="standard">
      <mat-label>Price per day (euros)</mat-label>
      <input required matInput type="number" formControlName="pricePerDay" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>
  <br />
  <div class="button">
    <button mat-raised-button type="submit">Publish</button>
  </div>
</form>
