@import "../../../variables.scss";

.container {
  box-sizing: border-box;
  position: absolute;
  bottom: 1em;
  left: 1em;
  right: 1em;
  background-color: $color-primary-deep-light;
  height: 15em;
  border-radius: 1.5em;
  .relative-container {
    position: relative;
    height: 100%;
    width: 100%;
  }
}

.login {
  .logo-container {
    z-index: 1;
    position: absolute;
    bottom: 0;
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      height: 100%;
    }
  }
  .content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;

    .relative-content {
      width: 100%;
      height: 100%;
      position: relative;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #332698;
      text-align: center;
      padding-left: 1em;
      padding-right: 1em;
      .title {
        font-weight: 600;
        font-family: sans-serif;
        margin-bottom: 0.8em;
      }
      .sub-title {
        font-weight: 600;
        // font-family: sans-serif;
        font-size: 0.8em;
        margin-bottom: 1.4em;
      }
      .btn-sign-in {
        background-color: $color-primary;
        padding: 0.5em 1em;
        border-radius: 1em;
        color: $color-background-over;
        width: max-content;
        margin-bottom: 1em;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s;
        transform: scale(1);
        user-select: none;
        &:hover {
          $scale: 1.04;
          //? https://stackoverflow.com/a/52768926/15813444
          -webkit-transform: scale($scale) translate3d(0, 0, 0) perspective(1px);
          -moz-transform: scale($scale) translate3d(0, 0, 0) perspective(1px);
          -o-transform: scale($scale) translate3d(0, 0, 0) perspective(1px);
          -ms-transform: scale($scale) translate3d(0, 0, 0) perspective(1px);
          transform: scale($scale) translate3d(0, 0, 0) perspective(1px);
        }
      }
      .character-img-container {
        position: absolute;
        height: 8em;
        top: -9.3em;
        left: 41%;
        img {
          height: 100%;
        }
      }
    }
  }
}
