@import "../../variables.scss";
.page {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  width: calc(100vw - 19em);
  margin-left: 17em;
  padding: 1em 5em;
  box-sizing: border-box;
  background-color: $color-background;
  z-index: 1;
}
