<!-- <my-properties></my-properties> -->
<!-- <div class="global-container">
  <div class="title">Dashboard</div>
  <div class="container">
    <div class="card-container"></div>
    <div class="card-container"></div>
  </div>
</div> -->

<div class="page">
  <header>
    <div class="title-container">
      <div class="title">Dashboard</div>
      <div class="hello-message">
        {{ "Hello " + helper.currentUser.firstName + ", here's your summary!" }}
      </div>
    </div>
    <div class="user-infos">
      <div class="picture-container">
        <img src="../../assets/images/face.png" draggable="false" />
      </div>
    </div>
  </header>
  <section class="content-section">
    <my-properties id="propertyList"></my-properties>
    <div class="separator"></div>
    <new-property id="propertyForm"></new-property>
  </section>
</div>
