@import "../../variables.scss";
$header-height: 6em;

.page {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 200vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  .content-section {
    width: 100%;
    margin-top: calc($header-height + 2em);
    padding-left: 3em;
    padding-right: 3em;
  }
  header {
    top: 0;
    position: fixed;
    background-color: $color-background-over;
    width: calc(100% - 15.5em);
    height: $header-height;
    border-bottom: solid 1px $color-border;
    display: flex;
    z-index: 4;
    justify-content: space-between;

    .title-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 2em;
      user-select: none;
      .title {
        font-size: 1.7em;
        font-weight: 600;
        color: $color-font-dark;
        margin-bottom: 0.3em;
      }
      .hello-message {
        color: $color-font-mid-plus;
      }
    }

    .user-infos {
      height: 100%;
      // width: 5em;
      // background: red;
      margin-right: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      .picture-container {
        cursor: pointer;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        overflow: hidden;
        margin-left: 0.5em;
        margin-right: 0.7em;
        background-color: $color-primary-light;
        flex-shrink: 0;
        img {
          height: 100%;
        }
      }
    }
  }
}
